{% extends 'bases/base.html' %}
        {% block title %} {{user.first_name}} Profile {% endblock %}
    {% load static %}

        {% block content %} 

            <!-- BREADCRUMB -->
            <div id="breadcrumb">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li class="active"> Compte-- {{user.username}} </li>
                    </ul>
                </div>
            </div>
            <!-- /BREADCRUMB -->
            <!-- section -->
            <div class="section">
                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">
                       
                        <div class="col-md-9">
                            <div class="billing-details">
                                <div class="section-title">
                                    <h3 class="title">Mes Informations</h3>
                                </div>

                                <table class="shopping-cart-table table">
                                    <tr>
                                       
                                        <!-- <td><img src=" {{profile.image.url}} " alt="" style="height: 150px; width: 120px; border-radius: 20px;"></td> -->
                                        <tr>
                                            <th class="text-left">Nom & Prénom</th>
                                            <td class="text-left">{{user.first_name}} {{user.last_name}}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Email</th>
                                            <td class="text-left">{{profile.user.email}}</td>
                                        </tr>
                                         <tr>
                                            <th class="text-left">Téléphone </th>
                                            <td class="text-left">{{profile.phone}}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Address </th>
                                            <td class="text-left">{{profile.address}}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Ville </th>
                                            <td class="text-left">{{profile.ville}}</td>
                                        </tr>
                                        
                                     
                                    </tr>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </div>
            <!-- /section -->

        {% endblock  %}